body {
    background-color: #f8f9fa;
}

.hero {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px 0;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.hero p {
    font-size: 1.2rem;
}

.form-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
    margin-top: 60px;
}

.form-label {
    font-weight: bold;
}

.btn-custom {
    width: 100%;
    font-size: 1rem;
    padding: 10px;
    margin-top: 10px;
}

footer {
    padding: 20px 0;
    background-color: #343a40;
    color: #ffffff;
    position: relative;
    margin-top: 75px;
    width: 100%;
}

footer p {
    margin: 0;
}